<div class="container">
  <div class="contenedor__banner">
    <div class="details">
      <h2>DETERMINACIÓN DE RIESGO</h2>
    </div>
  </div>

  <p-card>
    <p-steps
      [model]="items"
      [readonly]="false"
      [activeIndex]="activeIndex"
      (activeIndexChange)="onActiveIndexChange($event)"
    ></p-steps>
  </p-card>

  <ng-container *ngIf="activeIndex === 0">
    <div class="grid">
      <div class="col-3">
        <p-card class="flex h-28rem" header="Carácteristicas de la estructura">
          <div class="grid gap-2">
            <div class="col-12">
              <div class="flex-auto">
                <label>Altura</label>
                <div class="p-inputgroup">
                  <p-inputNumber
                    placeholder="Altura"
                    [useGrouping]="false"
                  ></p-inputNumber>
                  <span class="p-inputgroup-addon">m</span>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="flex-auto">
                <label>Longitud</label>
                <div class="p-inputgroup">
                  <p-inputNumber
                    placeholder="Longitud"
                    [useGrouping]="false"
                  ></p-inputNumber>
                  <span class="p-inputgroup-addon">m</span>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="flex-auto">
                <label>Ancho</label>
                <div class="p-inputgroup">
                  <p-inputNumber
                    placeholder="Ancho"
                    [useGrouping]="false"
                  ></p-inputNumber>
                  <span class="p-inputgroup-addon">m</span>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="flex-auto">
                <label>Área</label>
                <div class="p-inputgroup">
                  <p-inputNumber
                    placeholder="Área"
                    [useGrouping]="false"
                  ></p-inputNumber>
                  <span class="p-inputgroup-addon">m</span>
                </div>
              </div>
            </div>
          </div>
        </p-card>
      </div>
      <div class="col-9">
        <p-card
          class="flex h-17rem"
          header="Carácteriticas de la acometida de servicio"
        >
          <div class="grid py-1 flex flex-row align-items-center">
            <div class="col-3">
              <div class="flex flex-column">
                <label> Tipo de acometida </label>
                <p-dropdown
                  class="w-full"
                  [style]="{ minWidth: '100%' }"
                  placeholder="Tipo de acometida"
                ></p-dropdown>
              </div>
            </div>
            <div class="col-3">
              <div class="flex-auto">
                <label>Longitud de la acometida</label>
                <div class="p-inputgroup">
                  <p-inputNumber
                    placeholder="Longitud de la acometida"
                    [useGrouping]="false"
                  ></p-inputNumber>
                  <span class="p-inputgroup-addon">m</span>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="flex-auto">
                <label>Altura de la acometida externa</label>
                <div class="p-inputgroup">
                  <p-inputNumber
                    placeholder="Altura de la acometida externa"
                    [useGrouping]="false"
                  ></p-inputNumber>
                  <span class="p-inputgroup-addon">m</span>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="flex-auto">
                <label>Número de acometidas de potencia</label>
                <div class="p-inputgroup">
                  <p-inputNumber
                    placeholder="Número de acometidas de potencia"
                    [useGrouping]="false"
                  ></p-inputNumber>
                  <span class="p-inputgroup-addon">m</span>
                </div>
              </div>
            </div>
          </div>
          <div class="grid py-1 flex flex-row align-items-center">
            <div class="col-3 h-full">
              <div class="flex flex-row align-items-center h-full">
                <p-checkbox
                  class="flex pr-5 w-1"
                  inputId="aislamiento"
                ></p-checkbox>
                <label class="flex align-items-start w-8" for="aislamiento"
                  >Aislamiento del nivel exterior</label
                >
              </div>
            </div>
            <div class="col-3">
              <div class="flex-auto">
                <label>
                  Altura de la estructura donde proviene la acometida de
                  servicio
                </label>
                <div class="p-inputgroup">
                  <p-inputNumber
                    placeholder="Altura de la estructura donde proviene la acometida"
                    [useGrouping]="false"
                  ></p-inputNumber>
                  <span class="p-inputgroup-addon">m</span>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="flex-auto">
                <label>
                  Altura del punto de ingreso de la acometida de servicio
                </label>
                <div class="p-inputgroup">
                  <p-inputNumber
                    placeholder="Altura del punto de ingreso de la acometida"
                    [useGrouping]="false"
                  ></p-inputNumber>
                  <span class="p-inputgroup-addon">m</span>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="flex flex-column justify-conten-center">
                <label>Número de acometidas de telecomunicaciones</label>
                <p-inputNumber
                  [style]="{ minWidth: '100%' }"
                  placeholder="Número de acometidas de telecomunicaciones"
                  [useGrouping]="false"
                ></p-inputNumber>
              </div>
            </div>
          </div>
        </p-card>
        <p-card
          class="flex flex-auto pt-2 w-full h-11rem"
          header="Carácteristicas resistivas"
        >
          <div class="grid flex w-full">
            <div class="col-6">
              <div class="flex-auto">
                <label>Resistividad del terreno</label>
                <div class="p-inputgroup">
                  <p-inputNumber
                    placeholder="Resistividad del terreno"
                    [useGrouping]="false"
                  ></p-inputNumber>
                  <span class="p-inputgroup-addon">m</span>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="flex-auto">
                <label>Resistividad de pantalla</label>
                <div class="p-inputgroup">
                  <p-inputNumber
                    placeholder="Resistividad de pantalla"
                    [useGrouping]="false"
                  ></p-inputNumber>
                  <span class="p-inputgroup-addon">m</span>
                </div>
              </div>
            </div>
          </div>
        </p-card>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="activeIndex === 1">
    <div class="grid">
      <div class="col-8">
        <p-card header="Componente estructura"> </p-card>
      </div>
      <div class="col-4">
        <p-card header="Componente acometida"> </p-card>
      </div>
    </div>
  </ng-container>
</div>
