.container {
  width: 100%;
  height: auto;
  padding: 2% 5%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

canvas {
  border: 1px solid black;
}

.contenedor__banner {
  border-radius: 5px;
  align-items: center;
  position: relative;
  margin: 5px 0;
  display: flex;
  height: 35px;
  color: #3b82f6;

  .details {
    align-items: center;
    margin: 0 10px;

    h2 {
      font-size: 16px;
    }
  }
}

.container_form {
  height: auto;
  width: 100%;
  padding: 2% 5%;
}

.container_canvas {
  display: flex;
  height: 100%;
  width: 100%;
}

p-card {
  height: 100%;
}

::ng-deep {
  .p-card-body,
  .p-card-content {
    height: 100% !important;
  }
  .p-tabview {
    width: 100%;
    height: 100%;
  }
}
