<div class="container">
  <div class="left">
    <span class="slogan second-text-color"> Pon seguridad </span>
    <span class="slogan text-color"> en cada paso. </span>
    <span class="subtitle">
      Determinación del nivel de riesgo, diseño de protección contra rayos,
      diseño de apantallamiento y puesta a tierra.
    </span>
    <span class="subtitle"> Basado en las normativas NTC-4552 e IEC 62305 </span>

    <div class="buttons">
      <p-button class="button" routerLink="/riesgo">Iniciar</p-button>
      <p-button class="button">Manual de usuario</p-button>
    </div>
  </div>
  <div class="rigth contract-background-color">
    <strong class="autores_title text-color"> Autores </strong>
    <div class="autores_container">
      <div class="author-info">
        <img src="/assets/images/002.png" alt="" />
        <strong class="text-color"> Yeiner Molina </strong>
      </div>
      <div class="author-info">
        <img src="/assets/images/001.jpg" alt="" />
        <strong class="text-color"> Laura Bermúdez </strong>
      </div>
    </div>
    <div class="flex flex-column">
      <strong class="asesores_title flex justify-content-center"> Asesores </strong>
      <div class="flex flex-row gap-3 pt-2">
        <span class="asesores_label">
          José Daniel Soto órtiz
        </span>
        <span class="asesores_label">
          Maria Gabriela Calle Torres
        </span>
      </div>
      <div class="flex flex-row justify-content-center pt-2">
        <span class="asesores_label">
          Eduardo Enrique Zurek Varela
        </span>
      </div>
    </div>
  </div>
</div>